.pli {
  color:black;
  font-size: 25px;
  font-family: 'Didact Gothic', sans-serif;
}
h1 {
text-align:center;
color:black;
font-size: 100px;
font-family: 'Didact Gothic', sans-serif;
}
.h2a {
 color:black;
 font-size:50px;
 font-family: 'Didact Gothic', sans-serif;
}
table {
  width: 99vw;
}
td {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-size:50px;
  color:black
}
th {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-size:50px;
  color:black
}
.eight {
  width: 500px;
  height: 500px;
  align-content: center;
}
.pli {
  color:black;
  font-size: 25px;
  font-family: 'Didact Gothic', sans-serif;
}
#songs {
  color:black;
  font-size: 25px;
  font-family: 'Didact Gothic', sans-serif;
}
a:hover {
  color: #c9c9c9;
}
a:active {
  color: #696969;
}
